<section id="about">

  <div class="avatar" id="avatar_about">
    <img src="/portfolio/img/upload/alessandro.jpg" alt="foto">
  </div>

  <div id="information_about">
    <h4 class="name">Alessandro - Fullstack</h4>
    <h5 class="graduacao">Cursando <abbr title="Análise e Desenvolvimento de Sistemas">A.D.S</abbr><time
        datetime="2001-05-15 19:00">
        2020</time>/<time datetime="2022-12-01 19:00"> 2022</time></h5>

    <h5 class="graduacao">Bacharel <abbr title="Administração de Empresas">A.D.M</abbr><time
        datetime="2012-01-01 00:00"> 2012
      </time>/<time datetime="2016-12-01 00:00">2016</time></h5>
  </div>

  <div class="about-btn">
    <div class="btn">
     <a href="/portfolio/#contato"><button id="btn_hire">Contrate-me</button></a>
    </div>
    <a href="mailto:alessandroadm@live.com"><span><i class="fas fa-envelope"></i></span></a>
    <a href="https://github.com/ALESSANDROLMENEZES" target="_blank"><span><i class="fab fa-github"></i></span></a>
    <a href="https://www.linkedin.com/in/alessandro-l-menezes-57906b71/" target="_blank"><span><i
          class="fab fa-linkedin"></i></span></a>
  </div>

</section>