<div id="nav">
  <div id="div-logo" onclick="location.href='/'">
    <img src="/portfolio/img/default-site/logowhite.png" alt="logo" id="logo">
  </div>
  <div id="hamburguer-menu">
    <span><i class="fas fa-grip-vertical"></i></span>
  </div>
</div>