<section id="contato">
  <div>
    <h2>Contato</h2>
    <h4>Mande um oi</h4>
    <p>Quer me contratar? Elogiar? ou deixar um feedback?</p>
    <p>Eu gostaria muito de saber como posso melhorar meu trabalho, sou uma pessoa aberta a novas ideias</p>
  </div>
  <div>
    <form action="#">

      <div class="input-group">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" required placeholder="Nome">
      </div>

      <div class="input-group">
        <label for="subject">Assunto</label>
        <input type="text" name="subject" id="subject" required placeholder="Assunto">
      </div>

      <div class="input-group">
        <label for="email">E-mail</label>
        <input type="text" name="email" id="email" required placeholder="Email">
      </div>

      <div class="input-group">
        <textarea name="message" id="message" cols="30" rows="5" required placeholder="Mensagem"></textarea>
      </div>
      <input type="submit" value="Enviar">
    </form>
  </div>
</section>