    <footer id="footer">
      <div>
        <a href="mailto:alessandroadm@live.com"><span class="icon"><i class="fas fa-envelope"></i></span></a>
        <a href="https://github.com/ALESSANDROLMENEZES" target="_blank"><span class="icon"><i
              class="fab fa-github"></i></span></a>
        <a href="https://www.linkedin.com/in/alessandro-l-menezes-57906b71/" target="_blank"><span class="icon"><i
              class="fab fa-linkedin"></i></span></a>
      </div>
      <div>
        <address> Created by Alessandro <span><i class="fas fa-registered"></i></span></address>
      </div>
    </footer>