<div id="header-banner">
  <h2 id="text_banner">
    <cite>
      <span class="aspas"><i class="fas fa-quote-left"></i></span> Apaixonado por tecnologia e inovação. Codar é
      meu estilo de
      vida <span class="aspas"><i class="fas fa-quote-right"></i></span>
    </cite>
  </h2>
</div>