<nav id="navbar-mobile">
  <div id="close-mobile-menu">
    <i class="fas fa-times"></i>
  </div>
  <ul class="nav-ul" id="nav-ul">
    <li><a href="/portfolio#about">About</a></li>
    <li><a href="/portfolio#skills">Skills</a></li>
    <li><a href="/portfolio#projetos">Projetos</a></li>
    <li><a href="/portfolio#contato">Contato</a></li>
    <li><a onclick="alert('Em desenvolvimento')">Blog</a></li>
  </ul>
</nav>