<article class="cards" id="session-cards">
  <div class="icon-left next" id="btn-prev">
    <span><i class="fas fa-chevron-left"></i></span>
  </div>

  <div class="card active" draggable="true" data-index="0">
    <div class="card-header">
      <h4>Rede social - <abbr lang="Eng" title="No Dependence">NODP</abbr></h4>
    </div>
    <div class="card-body">
      <p>Este projeto foi desenvolvido para ser apresentado na conclusão do curso
        <strong>fullstack</strong> Santander Coders by <strong>Digital House</strong></p>
    </div>
    <div class="card-footer">
      <div class="btn-like">
        <span><i class="fas fa-heart"></i> 22</span>
      </div>
      <div>
        <a href="#">Detalhes</a>
      </div>
    </div>
  </div>

  <div class="card hidden" draggable="true" data-index="1">
    <div class="card-header">
      <h4>Zera Dengue</h4>
    </div>
    <div class="card-body">
      <p>Este projeto eu desenvolvi para gravar a série de vídeos e disponibilizar as aulas no youtube</p>
      <p>Compartilhar conhecimento é muito importante!</p>
    </div>
    <div class="card-footer">
      <div class="btn-like">
        <span><i class="fas fa-heart"></i> 14</span>
      </div>
      <div>
        <a href="#">Detalhes</a>
      </div>
    </div>
  </div>

  <div class="card hidden" draggable="true" data-index="2">
    <div class="card-header">
      <h4>Fazenda Utopia</h4>
    </div>
    <div class="card-body">
      <p>Site projetado para venda de produtos orgânicos</p>
      <p>A ideia é que o cliente acesse o site, monte sua cesta com os produtos desejados e receba em sua casa
      </p>
    </div>
    <div class="card-footer">
      <div class="btn-like">
        <span><i class="fas fa-heart"></i> 28</span>
      </div>
      <div>
        <a href="#">Detalhes</a>
      </div>
    </div>
  </div>

  <div class="icon-right next" id="btn-next">
    <span><i class="fas fa-chevron-right"></i></span>
  </div>

</article>