<article class="imagens" id="article-slides">
  <div class="slides">
    <ul id="ul-slides">

      <li>
        <div class="slide-img active">
          <img src="/img/upload/nodp_mob_2.png" alt="imagem">
          <img src="/img/upload/nodp_2.jpg" alt="imagem" class="desktop">
        </div>
      </li>

      <li>
        <div class="slide-img hidden">
          <img src="/img/upload/nodp_mob_3.png" alt="imagem">
          <img src="/img/upload/nodp_3.jpg" alt="imagem" class="desktop">
        </div>
      </li>

      <li>
        <div class="slide-img hidden">
          <img src="/img/upload/nodp_mob_1.png" alt="imagem">
          <img src="/img/upload/nodp_1.jpg" alt="imagem" class="desktop">
        </div>
      </li>

      <li>
        <div class="slide-img hidden">
          <img src="/img/upload/nodp_mob_4.png" alt="imagem">
          <img src="/img/upload/nodp_4.jpg" alt="imagem" class="desktop">
        </div>
      </li>

      <li>
        <div class="slide-img hidden">
          <img src="/img/upload/nodp_mob_5.png" alt="imagem">
          <img src="/img/upload/nodp_5.jpg" alt="imagem" class="desktop">
        </div>
      </li>

      <li>
        <div class="slide-img hidden">
          <img src="/img/upload/nodp_mob_6.png" alt="imagem">
          <img src="/img/upload/nodp_6.jpg" alt="imagem" class="desktop">
        </div>
      </li>

      <li>
        <div class="slide-img hidden">
          <img src="/img/upload/zera_dengue_mob_1.png" alt="imagem">
          <img src="/img/upload/zera_dengue_1.jpg" alt="imagem" class="desktop">
        </div>
      </li>

      <li>
        <div class="slide-img hidden">
          <img src="/img/upload/zera_dengue_mob_2.png" alt="imagem">
          <img src="/img/upload/zera_dengue_2.jpg" alt="imagem" class="desktop">
        </div>
      </li>

      <li>
        <div class="slide-img hidden">
          <img src="/img/upload/zera_dengue_mob_3.png" alt="imagem">
          <img src="/img/upload/zera_dengue_3.jpg" alt="imagem" class="desktop">
        </div>
      </li>

      <li>
        <div class="slide-img hidden">
          <img src="/img/upload/petshop_mobile_1.png" alt="imagem">
          <img src="/img/upload/petshop_1.png" alt="imagem" class="desktop">
        </div>
      </li>

      <li>
        <div class="slide-img hidden">
          <img src="/img/upload/petshop_mobile_2.png" alt="imagem">
          <img src="/img/upload/petshop_2.png" alt="imagem" class="desktop">
        </div>
      </li>

      <li>
        <div class="slide-img hidden">
          <img src="/img/upload/petshop_mobile_3.png" alt="imagem">
          <img src="/img/upload/petshop_3.png" alt="imagem" class="desktop">
        </div>
      </li>

      <li>
        <div class="slide-img hidden">
          <img src="/img/upload/petshop_mobile_4.png" alt="imagem">
          <img src="/img/upload/petshop_4.png" alt="imagem" class="desktop">
        </div>
      </li>

      <li>
        <div class="slide-img hidden">
          <img src="/img/upload/fazenda_mob_1.png" alt="imagem">
          <img src="/img/upload/fazenda_1.jpg" alt="imagem" class="desktop">
        </div>
      </li>

      <li>
        <div class="slide-img hidden">
          <img src="/img/upload/fazenda_mob_2.png" alt="imagem">
          <img src="/img/upload/fazenda_2.jpg" alt="imagem" class="desktop">
        </div>
      </li>

      <li>
        <div class="slide-img hidden">
          <img src="/img/upload/fazenda_mob_3.png" alt="imagem">
          <img src="/img/upload/fazenda_3.jpg" alt="imagem" class="desktop">
        </div>
      </li>

      <li>
        <div class="slide-img hidden">
          <img src="/img/upload/fazenda_mob_4.png" alt="imagem">
          <img src="/img/upload/fazenda_4.jpg" alt="imagem" class="desktop">
        </div>
      </li>

    </ul>
  </div>
  <div class="seletores">
    <ul id="slides-indicadores">
      <li data-index="1"><span><i class="fas fa-circle"></i></span></li>
      <li data-index="0"><span><i class="far fa-circle"></i></span></li>
      <li data-index="2"><span><i class="far fa-circle"></i></span></li>
      <li data-index="3"><span><i class="far fa-circle"></i></span></li>
      <li data-index="4"><span><i class="far fa-circle"></i></span></li>
      <li data-index="5"><span><i class="far fa-circle"></i></span></li>
      <li data-index="6"><span><i class="far fa-circle"></i></span></li>
      <li data-index="7"><span><i class="far fa-circle"></i></span></li>
      <li data-index="8"><span><i class="far fa-circle"></i></span></li>
      <li data-index="9"><span><i class="far fa-circle"></i></span></li>
      <li data-index="10"><span><i class="far fa-circle"></i></span></li>
      <li data-index="11"><span><i class="far fa-circle"></i></span></li>
      <li data-index="12"><span><i class="far fa-circle"></i></span></li>
      <li data-index="13"><span><i class="far fa-circle"></i></span></li>
      <li data-index="14"><span><i class="far fa-circle"></i></span></li>
      <li data-index="15"><span><i class="far fa-circle"></i></span></li>
      <li data-index="16"><span><i class="far fa-circle"></i></span></li>
    </ul>
  </div>
</article>