<article class="introduction">

  <div>
    <h2>Projetos</h2>
    <h3>Desafios</h3>
  </div>
  <div class="image-and-text">
    <div class="div-image">
      <img src="/portfolio/img/default-site/my_apps.png" alt="image">
    </div>

    <div>
      <p>Em Novembro de 2018 eu e alguns amigos criamos uma solução web para o segmento de logística. A ideia
        era resolver o problema de multas por
        excesso de peso no Brasil, mas a ideia não deu muito certo, entretanto eu gostei tanto do mundo
        <strong>developer</strong> que desde então venho me empenhando para
        ser um desenvolvedor cada dia melhor
      </p>
      <p>Parece loucura uma transição de carreira do ramo de logística para a tecnologia, não é?</p>
      <p>Mas aqui está você vendo meu portfólio que a cada dia fica melhor porque estou dedicado e apaixonado
        pelo que estou fazendo</p>
    </div>
  </div>
</article>