<article id="tecnologias">
  <div class="tecnologias">
    <div class="tecnologia-icon node" title="nodeJS">
      <i class="fab fa-node"></i>
    </div>
    <div class="tecnologia-icon" title="HTML5">
      <i class="fab fa-html5 html"></i>
    </div>
    <div class="tecnologia-icon" title="CSS">
      <i class="fab fa-css3 css"></i>
    </div>
    <div class="tecnologia-icon javascrip" title="javaScrip">
      <i class="fab fa-js-square"></i>
    </div>
    <div class="tecnologia-icon mysql" title="mySQL">
      <i class="fas fa-database"></i>
    </div>
  </div>
</article>