<article class="introduction">

  <div>
    <h2>Sobre o projeto</h2>
    <h3>Resumo</h3>
  </div>
  <div class="image-and-text">
    <div class="div-image">
      <img src="/img/default-site/my_apps.png" alt="image">
    </div>

    <div>
      <p><%=project.description%> 
    </div>
  </div>

</article>