<article id="video-projeto">

  <div class="titulos">
    <h2>Video</h2>
    <h3>Demonstração</h3>
  </div>

  <div id="video">
    <iframe src="https://www.youtube-nocookie.com/embed/7Eo9PNFgMoE?start=1982" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</article>