<section id="skills">

  <h2 lang="Eng">Skills</h2>
  <div class="row">
    <div class="col-1">
      <div class="container-skill">
        <h4 lang="Eng">NodeJs</h4>
        <div class="border-skill">
          <div class="level-skill" id="nodejs"></div>
        </div>
      </div>

      <div class="container-skill">
        <h4 lang="Eng">Javascript</h4>
        <div class="border-skill">
          <div class="level-skill" id="javascript"></div>
        </div>
      </div>

      <div class="container-skill">
        <h4 lang="Eng">MySQL</h4>
        <div class="border-skill">
          <div class="level-skill" id="mysql"></div>
        </div>
      </div>

      <div class="container-skill">
        <h4 lang="Eng">Testes Unitários</h4>
        <div class="border-skill">
          <div class="level-skill" id="testes"></div>
        </div>
      </div>

      <div class="container-skill">
        <h4 lang="Eng">Rest Api</h4>
        <div class="border-skill">
          <div class="level-skill" id="restapi"></div>
        </div>
      </div>

      <div class="container-skill">
        <h4 lang="Eng">Agile / Scrum</h4>
        <div class="border-skill">
          <div class="level-skill" id="scrum"></div>
        </div>
      </div>

      <div class="container-skill">
        <h4 lang="Eng">Git / Github</h4>
        <div class="border-skill">
          <div class="level-skill" id="git"></div>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="container-skill">
        <h4 lang="Eng">Html5</h4>
        <div class="border-skill">
          <div class="level-skill" id="html"></div>
        </div>
      </div>

      <div class="container-skill">
        <h4 lang="Eng">Css</h4>
        <div class="border-skill">
          <div class="level-skill" id="css"></div>
        </div>
      </div>

      <div class="container-skill">
        <h4 lang="Eng">MongoDB</h4>
        <div class="border-skill">
          <div class="level-skill" id="mongo"></div>
        </div>
      </div>

      <div class="container-skill">
        <h4 lang="Eng">Sequelize ORM</h4>
        <div class="border-skill">
          <div class="level-skill" id="sequelize"></div>
        </div>
      </div>

      <div class="container-skill">
        <h4 lang="Eng">Bootstrap</h4>
        <div class="border-skill">
          <div class="level-skill" id="bootstrap"></div>
        </div>
      </div>

      <div class="container-skill">
        <h4 lang="Eng">ReactJS</h4>
        <div class="border-skill">
          <div class="level-skill" id="react"></div>
        </div>
      </div>

    </div>
  </div>
</section>