<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Portfólio de projetos desenvolvidos em minha jornada como desenvolvedor, 
  Alguns artigos interessantes e dicas de desenvolvimento">
  <meta name="keywords" content="Fullstack, Dev, Desenvolvedor, desenvolvedor, dev, fullstack, nodejs, 
  express, sequelize, Alessandrodev, alessandrodev, alessandro dev, Alessandro Dev">
  <meta name="author" content="Alessandro Lima de Menezes">
  <title><%= title %></title>
  <link rel="shortcut icon" href="/img/default-site/icon-dark.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;900&display=swap"
  rel="stylesheet">
  <link rel='stylesheet' href='/css/normalize.css' />
  <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
</body>
</html>
