<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Portfólio de projetos desenvolvidos em minha jornada como desenvolvedor, 
  Alguns artigos interessantes e dicas de desenvolvimento">
  <meta name="keywords" content="Fullstack, Dev, Desenvolvedor, desenvolvedor, dev, fullstack, nodejs, 
  express, sequelize, Alessandrodev, alessandrodev, alessandro dev, Alessandro Dev">
  <meta name="author" content="Alessandro Lima de Menezes">
  <title><%= title %></title>
  <link rel="shortcut icon" href="/img/default-site/icon-dark.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;900&display=swap"
  rel="stylesheet">
  <script src="https://kit.fontawesome.com/8701d44bdc.js" crossorigin="anonymous"></script>
  <script src="/js/gsap.min.js"></script>
  <script src="/js/CustomEase.min.js"></script>
  <script src="/js/ScrollTrigger.min.js"></script>
  <script src="/js/TextPlugin.min.js"></script>
  <link rel='stylesheet' href='/css/normalize.css' />
  <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
  <header id="header">
    <div id="nav">
      <div id="div-logo">
        <img src="/img/default-site/logowhite.png" alt="" id="logo">
      </div>
      <div id="hamburguer-menu">
        <span><i class="fas fa-grip-vertical"></i></span>
      </div>
    </div>
    <nav id="navbar-mobile">
      <div id="close-mobile-menu">
       <i class="fas fa-times"></i>
      </div>
      <ul class="nav-ul" id="nav-ul">
        <li>About</li>
        <li>Skills</li>
        <li>Projetos</li>
        <li>Contato</li>
        <li>Blog</li>
      </ul>
    </nav>
    <div id="header-banner">
      <h2 id="text_banner">
        <cite>
          <span class="aspas"><i class="fas fa-quote-left"></i></span> Apaixonado por tecnologia e inovação. Codar é
          meu estilo de
          vida <span class="aspas"><i class="fas fa-quote-right"></i></span>
        </cite>
      </h2>
    </div>
  </header>
  <main id="home">
    <section id="about">
      
      <div class="avatar" id="avatar_about">
        <span><i class="far fa-user-circle"></i></span>
      </div>
      
      <div id="information_about">
        <h4 class="name">Alessandro - Fullstack</h4>
        <h5 class="graduacao">Cursando <abbr title="Análise e Desenvolvimento de Sistemas">A.D.S</abbr><time datetime="2001-05-15 19:00">
          2020</time>/<time datetime="2022-12-01 19:00"> 2022</time></h5>
          
          <h5 class="graduacao">Bacharel <abbr title="Administração de Empresas">A.D.M</abbr><time datetime="2012-01-01 00:00"> 2012
          </time>/<time datetime="2016-12-01 00:00">2016</time></h5>
        </div>
        
        <div class="about-btn">
          <div class="btn">
            <button id="btn_hire">Contrate-me</button>
          </div>
          <a href="http://"><span><i class="fas fa-envelope"></i></span></a>
          <a href="http://"><span><i class="fab fa-github"></i></span></a>
          <a href="http://"><span><i class="fab fa-linkedin"></i></span></a>
        </div>
        
      </section>
      
      <section id="skills">
        
        <h2 lang="Eng">Skills</h2>
        
        <div>
          <h4 lang="Eng">NodeJs</h4>
          <div class="border-skill">
            <div class="level-skill" id="nodejs"></div>
          </div>
        </div>
        
        <div>
          <h4 lang="Eng">Javascript</h4>
          <div class="border-skill">
            <div class="level-skill" id="javascript"></div>
          </div>
        </div>
        
        <div>
          <h4 lang="Eng">MySQL</h4>
          <div class="border-skill">
            <div class="level-skill" id="mysql"></div>
          </div>
        </div>
        
      </section>
      
      <section id="projetos">
        
        <article class="introduction">
          
          <div>
            <h2>Projetos</h2>
            <h3>Desafios</h3>
          </div>
          
          <div class="div-image">
            <img src="/img/default-site/my_apps.png" alt="">
          </div>
          
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quos! Vitae qui libero ea enim temporibus 
              voluptas labore, ducimus, molestiae doloribus provident ab doloremque corporis fugit odio. Voluptatibus, 
              dignissimos? Necessitatibus.
            </p>
          </div>
        </article>
        
        <article class="cards" id="session-cards">
          <div class="icon-left next" id="btn-prev">
            <span><i class="fas fa-chevron-left"></i></span>
          </div>
          
          <div class="card active" draggable="true" data-index="0">
            <div class="card-header">
              <h4>Rede social - <abbr lang="Eng" title="No Dependence">NODP</abbr></h4>
            </div>
            <div class="card-body">
              <p>Mussum Ipsum, cacilds vidis litro muis. Mauris nec dolor in eros commodo tempor.</p>
            </div>
            <div class="card-footer">
              <div class="btn-like">
                <span><i class="fas fa-heart"></i> 22</span>
              </div>
              <div>
                <a href="#">Detalhes</a>
              </div>
            </div>
          </div>
          
          <div class="card hidden" draggable="true" data-index="1">
            <div class="card-header">
              <h4>Zera Dengue</h4>
            </div>
            <div class="card-body">
              <p>Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros legalis tempor.</p>
            </div>
            <div class="card-footer">
              <div class="btn-like">
                <span><i class="fas fa-heart"></i> 14</span>
              </div>
              <div>
                <a href="#">Detalhes</a>
              </div>
            </div>
          </div>
          
          <div class="card hidden" draggable="true" data-index="2">
            <div class="card-header">
              <h4>Fazenda Utopia</h4>
            </div>
            <div class="card-body">
              <p>Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.</p>
            </div>
            <div class="card-footer">
              <div class="btn-like">
                <span><i class="fas fa-heart"></i> 28</span>
              </div>
              <div>
                <a href="#">Detalhes</a>
              </div>
            </div>
          </div>
          
          <div class="icon-right next" id="btn-next">
            <span><i class="fas fa-chevron-right"></i></span>
          </div>
          
        </article>
        
        <article class="imagens">
          <div class="slides">
            <ul id="ul-slides">
              
              <li>
                <div class="slide-img active">
                  <img src="/img/upload/nodp_mob_2.png" alt="imagem">
                </div>
              </li>
              
              <li>
                <div class="slide-img hidden">
                  <img src="/img/upload/nodp_mob_3.png" alt="imagem">
                </div>
              </li>
              
              <li>
                <div class="slide-img hidden">
                  <img src="/img/upload/nodp_mob_1.png" alt="imagem">
                </div>
              </li>
              
            </ul>
          </div>
          <div class="seletores">
            <ul id="slides-indicadores">
              <li data-index="1"><span><i class="fas fa-circle"></i></span></li>
              <li data-index="0"><span><i class="far fa-circle"></i></span></li>
              <li data-index="2"><span><i class="far fa-circle"></i></span></li>
            </ul>
          </div>
        </article>
        
      </section>
      
      <section id="contato">
        <div>
          <h2>Contato</h2>
          <h4>Mande uma mensagem aí...</h4>
          <p>Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.</p>
        </div>
        <div>
          <form action="#">
            
            <div class="input-group">
              <label for="name">Nome</label>
              <input type="text" name="name" id="name" required placeholder="Nome">
            </div>
            
            <div class="input-group">
              <label for="subject">Assunto</label>
              <input type="text" name="subject" id="subject" required placeholder="Assunto">
            </div>
            
            <div class="input-group">
              <label for="email">E-mail</label>
              <input type="text" name="email" id="email" required placeholder="Email">
            </div>
            
            <div class="input-group">
              <textarea name="message" id="message" cols="30" rows="5" required placeholder="Mensagem"></textarea>
            </div>
            <input type="submit" value="Enviar">
          </form>
        </div>
      </section>
      
    </main>
    <footer id="footer">
      <div>
        <a href="mailto:alessandroadm@live.com"><span class="icon"><i class="fas fa-envelope"></i></span></a>
        <a href="https://github.com/ALESSANDROLMENEZES"><span class="icon"><i class="fab fa-github"></i></span></a>
        <a href="https://www.linkedin.com/in/alessandro-l-menezes-57906b71/"><span class="icon"><i
          class="fab fa-linkedin"></i></span></a>
        </div>
        <div>
          <address> Created by Alessandro <span><i class="fas fa-registered"></i></span></address>
        </div>
      </footer>
      <script src="/js/index.js"></script>
    </body>
    </html>
    