:root{
	--dark-color-one: #512DA7; 
	--dark-color-two: #673BB7; 
	--dark-color-three: #9963FC; 
	--dark-color-four: #DOC4E8; 
	--white-color: #FFFFFF;
	--accent-color: #536DFE; 
	--black-color: #212121; 
	--grey-color: #757575; 
	--dark-divider-color: #BDBDBD; 
	--light-divider-color: #DEDEDE; 
	--family-default: 'Raleway'
}

body {
	font: 14px var(--family-default),
	sans-serif;
	max-width: 100%;
	letter-spacing: 1.2px;
}

p{
	font-size: 18px;
}

/*AQUI COMEÇA O CSS PARA MOBILE-FIRST*/
#nav{
	background-color: var(--dark-color-one);
	display: flex;
	position: fixed;
	top: 0px;
	width: 100%;
	justify-content: space-between;
	box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.42);
	max-width: 100%;
	min-width: 100%;
	align-items: center;
	border-radius: 0 0 85% 85% / 30%;
	height: 11%;
	overflow: hidden;
	z-index: 1;
}

#header{
	max-width: 100%;
	min-width: 100%;
	width: 100%;
}

#logo{
	width: 28%;
	margin-left: 2%;
}

#nav-ul{
	display: none;
}

#hamburguer-menu{
	color: var(--white-color);
	font-size: 3em;
	padding: 1% 3%;
}

#header-banner{
	min-height: 40%;
	max-height: 40%;
	background-color: var(--dark-color-two);
	height: 15vh;
	padding: 28% 7%;
	text-align: center;
}

.aspas{
	font-size: 28px;
}

#header-banner h2,
#header-banner cite {
	font-size: 27px;
	color: var(--white-color);
	font-weight: 400;
	font-style: normal;
}

#text_banner{
	visibility: hidden;
}

#avatar_about{
	visibility: hidden;
}

/* Sessão sobre  */

#about{
	padding-top: 12%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
#about .avatar{
	color: var(--dark-color-one);
	font-size: 63px;
}

#information_about{
	visibility: hidden;
}

#about .name{
	font-size: 24px;
	color: var(--dark-color-one);
	margin: 2px 0 4px 0;
}

#about .graduacao {
	font-size: 18px;
	color: var(--dark-color-one);
	margin: 2px 0 4px 0;
}

#about .about-btn {
	font-size: small;
	color: var(--dark-color-one);
	margin: 2px 0 4px 0;
	min-width: 70%;
	width: 70%;
	max-width: 70%;
	overflow: hidden;
}

#btn_hire{
visibility: hidden;
}

#about .about-btn a{
	font-size: 28px;
	padding: 0 10%;
	visibility: hidden;
}

.about-btn .btn button{
	margin: 5% 0;
	padding: 5% 5%;
	background-color: var(--dark-color-one);
	color: var(--white-color);
	min-width: 82%;
	border-radius: 30px;
	font-size: 18px;
}

.about-btn .btn{
	border-bottom: 1px solid var(--dark-divider-color);
	padding: 0 0 5% 0;
	margin-bottom: 5%;
}


/* Sessão skills  */
#skills{
	margin-top: 14%;
	background-color: var(--light-divider-color);
	color: var(--dark-color-one);
	padding: 5% 15% 11% 15%;
}


#skills h2{
	font-size: 28px;
}


#skills h4{
	font-size: 18px;
	margin-bottom: 3%;
}

#skills .border-skill{
	border: 7px solid var(--dark-color-one);
	border-radius: 7px;
}

#skills .level-skill {
	border: 7px solid var(--accent-color);
	border-radius: 0 7px 7px 0;
	max-width: 50%;
	margin: 1% 0 1% 1%;
}


/* Seção sobre projetos  */
#projetos{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 100%;
	width: 100%;
}
#projetos .introduction{
	display: flex;
	flex-direction: column;
	padding: 0 15%;
}

#projetos .introduction .div-image {
	display: flex;
	order: 0;
}

#projetos .introduction h2{
	font-size: 28px;
	color: var(--dark-color-one);
	margin-top: 21%;
	margin-bottom: 2%;
}


#projetos .introduction h3{
	font-size: 22px;
	color: var(--grey-color);
	margin-top: 0;
}

#projetos .introduction img{
	transform: scaleX(-1);
}

.cards{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 7% 0;
	background-color: var(--light-divider-color);
	padding: 7% 0;
}

.cards .next{
	font-size: 28px;
	margin: 0 4%;
	color: var(--dark-divider-color);
}

.card{
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.42);
	border-radius: 14px;
	background-color: var(--white-color);
}

.card a{
	text-decoration: none;
}

.card .card-header{
	background-color: var(--dark-color-one);
	color: white;
	border-radius: 14px 14px 0 0;
}

.card .card-header h4{
	padding: 5%;
	margin: 0;
	font-size: 20px;
	font-weight: normal;
}

.card .card-body{
	padding: 3% 5% 5% 5%;
}

.card .card-footer{
	display: flex;
	justify-content: space-between;
	padding: 5%;
	color: var(--dark-color-one);
	font-size: 18px;
	border-top: 1px solid var(--dark-divider-color);
}

/* Sessão de slides */
.slides ul{
	display: flex;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
}

.slides ul li{
	list-style: none;
	margin: 0;
	padding: 7%;
}

.slides ul .active{
	width: 100%;
}

.slides ul .hidden{
	display: none;
}

.imagens .seletores ul{
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.imagens .seletores ul li{
	margin: 0 3%;
	color: var(--dark-color-one);
}


/* Sessão contato */
#contato{
	color: var(--white-color);
	background-color: var(--dark-color-one);
	border-radius: 0 70% / 40%;
	padding: 10% 14%;
	margin: 14% 0;
}

#contato form input{
	height: 34px;
	min-height: 34px;
	border-radius: 7px;
	padding: 3%;
}

#contato form input,
#contato form textarea{
	width: 100%;
	border-radius: 7px;
	padding: 3%;
	border: none;
}

#contato form textarea {
	margin-top: 14px;
	border: none;
}

#contato label {
	color: var(--dark-color-one);
}

#contato h2 {
	font-size: 28px;
}

#contato h4 {
	font-size: 22px;
}

#contato form input[type=submit] {
	margin-top: 14px;
	min-width: 107%;
	width: 107%;
	height: 7vh;
	font-size: 22px;
	color: var(--dark-color-one);
	border: none;
}

/* Footer */
#footer{
	background-color: var(--dark-color-one);
	color: var(--white-color);
	padding: 7%;
	text-align: center;
}

#footer .icon{
	font-size: 34px;
	padding: 0 5%;
}

#footer a{
	text-decoration: none;
	color: var(--white-color);
}

img{
	max-width: 100%;
}

