:root{
	--dark-color-one: #512DA7; 
	--dark-color-two: #673BB7; 
	--dark-color-three: #9963FC; 
	--dark-color-four: #DOC4E8; 
	--white-color: #FFFFFF;
	--accent-color: #536DFE; 
	--black-color: #212121; 
	--grey-color: #757575; 
	--dark-divider-color: #BDBDBD; 
	--light-divider-color: #DEDEDE; 
	--family-default: 'Raleway'
}
html {
	scroll-behavior: smooth;
}

body {
	font: 14px var(--family-default),
	sans-serif;
	max-width: 100%;
	letter-spacing: 1.2px;
}

p{
	font-size: 18px;
}

/*AQUI COMEÇA O CSS PARA MOBILE-FIRST*/
#nav{
	background-color: var(--dark-color-one);
	display: flex;
	position: fixed;
	top: 0px;
	width: 100%;
	justify-content: space-between;
	box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.42);
	max-width: 100%;
	min-width: 100%;
	align-items: center;
	border-radius: 0 0 85% 85% / 30%;
	height: 11%;
	overflow: hidden;
	z-index: 1;
}

#header{
	max-width: 100%;
	min-width: 100%;
	width: 100%;
}

#logo{
	width: 28%;
	margin-left: 2%;
}

#navbar-mobile{
	visibility: hidden;
}

#nav-ul{
	position: fixed;
	top: -7px;
	min-width: 100vw;
	background-color: var(--dark-color-one);
	color:var(--white-color);
	list-style: none;
	padding: 5vh 0;
	text-align: center;
	z-index: 2;
	height: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 28% / 2%;
}

#nav-ul li{
	margin: 0;
	list-style: none;
	padding: 3vh 0;
	font-size: 28px;
	border-bottom: 1px solid var(--dark-color-three);
	max-width: 50%;
}

#nav-ul li a{
text-decoration: none;
color: var(--white-color);
scroll-behavior: smooth;
}

#nav-ul li:hover{
	color: var(--accent-color);
}
#nav-ul li a:hover{
	color: var(--accent-color);
}

#close-mobile-menu{
	font-size: 22px;
	color: var(--white-color);
	position: fixed;
	z-index: 3;
	right: 7%;
	top: 7%;
}

#hamburguer-menu{
	color: var(--white-color);
	font-size: 3em;
	padding: 1% 3%;
}

#header-banner{
	min-height: 40%;
	max-height: 40%;
	background-color: var(--dark-color-two);
	background-image: url('/img/default-site/marca_1.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 15vh;
	padding: 28% 7%;
	text-align: center;
	overflow: hidden;
}

.aspas{
	font-size: 28px;
}

#header-banner h2,
#header-banner cite {
	font-size: 27px;
	color: var(--white-color);
	font-weight: 400;
	font-style: normal;
}

#text_banner{
	visibility: hidden;
}

#page-project #header-banner h2{
	font-size: 42px;
}

#avatar_about{
	visibility: hidden;
}

#avatar_about img{
	border-radius: 50%;
	max-width: 70px;
	border: 3px solid var(--dark-color-one);
	cursor: pointer;
}

/* Sessão sobre  */

#about{
	padding-top: 12%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
#about .avatar{
	color: var(--grey-color);
	font-size: 63px;
}

#information_about{
	visibility: hidden;
}

#about .name{
	font-size: 24px;
color: var(--grey-color);
	margin: 2px 0 4px 0;
}

#about .graduacao {
	font-size: 18px;
color: var(--grey-color);
	margin: 2px 0 4px 0;
}

#about .about-btn {
	font-size: small;
	color: var(--dark-color-one);
	margin: 2px 0 4px 0;
	min-width: 70%;
	width: 70%;
	max-width: 70%;
	overflow: hidden;
	border: none;
}

#btn_hire{
	visibility: hidden;
}
#btn_hire:hover{
	cursor: pointer;
}

#about .about-btn a{
	font-size: 28px;
	padding: 0 10%;
	visibility: hidden;
	color: var(--dark-color-one);
}

.about-btn .btn button{
	margin: 5% 0;
	padding: 5% 5%;
	background-color: var(--dark-color-one);
	color: var(--white-color);
	min-width: 82%;
	border-radius: 30px;
	font-size: 18px;
	border: none;
}

.about-btn .btn{
	border-bottom: 1px solid var(--dark-divider-color);
	padding: 0 0 5% 0;
	margin-bottom: 5%;
}


/* Sessão skills  */
#skills{
	margin-top: 14%;
	background-color: var(--light-divider-color);
	color: var(--dark-color-one);
	padding: 5% 15% 11% 15%;
}


#skills h2{
	font-size: 28px;
}

#skills .row {
	display: flex;
	flex-direction: column;
}


#skills h4{
	font-size: 18px;
	margin-bottom: 3%;
}

#skills .border-skill{
	border: 7px solid var(--dark-color-one);
	border-radius: 7px;
}

#skills .level-skill {
	border: 7px solid var(--accent-color);
	border-radius: 0 7px 7px 0;
	max-width: 100%;
	width:1%;
	margin:1% 0 1% 1%;
	visibility:hidden;
}

.hidden{
	visibility: hidden;
	display: none;
}


/* Seção sobre projetos  */
#projetos{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 100%;
	width: 100%;
}
#projetos .introduction{
	display: flex;
	flex-direction: column;
	padding: 0 15%;
}

#projetos .introduction .div-image {
	display: flex;
	order: 0;
}

#projetos .introduction h2{
	font-size: 28px;
	color: var(--dark-color-one);
	margin-top: 21%;
	margin-bottom: 2%;
}


#projetos .introduction h3{
	font-size: 22px;
	color: var(--grey-color);
	margin-top: 0;
}

#projetos .introduction img{
	transform: scaleX(-1);
}

#page-project .imagens-do-projeto{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#page-project .imagens-do-projeto img{
	width: 100%;
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.42);
}


#page-project .imagens-do-projeto .image-selected img{
	border-radius: 14px;
	border: 3px solid var(--white-color);
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.42);
	max-width: 77%;
}

#page-project .imagens-do-projeto .image-selected{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

#page-project .fila-de-imagem{
	display: none;
}

#page-project .tecnologias {
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;
	width: 90vw;
	margin: 14% 0;
	overflow: hidden;
}

#page-project .tecnologias .tecnologia-icon {
	display: block;
	font-size: 3rem;
}

#page-project .tecnologias .javascrip {
	color: rgb(211, 211, 65);
}

#page-project .tecnologias .node {
	color: darkgreen;
}

#page-project .tecnologias .html {
	color: darkorange;
}

#page-project .tecnologias .css {
	color: blue;
}

#page-project .tecnologias .mysql {
	color: darkorange;
}

#page-project .imagens-do-projeto .image-selected img:hover{
	border-radius: 14px;
	box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.49);
	cursor: pointer;
}

#page-project #slides {
	display: flex;
	flex-direction: column;
	background-image: url('/img/default-site/marca_2.svg');
}

#page-project #slides .controllers {
	display:inline-block;
	text-align: center;
	width: 50%;
	padding: 3% 0;
}

#page-project #slides button{
	padding: 1%;
	background-color: var(--dark-color-one);
	color: var(--white-color);
	border: none;
	border-radius: 7px;
}

#page-project #slides button:hover{
	cursor: pointer;
}

.cards{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 7% 0;
	background-color: var(--light-divider-color);
	padding: 7% 0;
}

.cards .next{
	font-size: 28px;
	margin: 0 4%;
	color: var(--dark-divider-color);
}

.card{
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.42);
	border-radius: 14px;
	background-color: var(--white-color);
}

.card:hover{
	cursor: pointer;
}

.card a{
	text-decoration: none;
}

.card .card-header{
	background-color: var(--dark-color-one);
	color: white;
	border-radius: 14px 14px 0 0;
}

.card .card-header h4{
	padding: 5%;
	margin: 0;
	font-size: 20px;
	font-weight: normal;
}

.card .card-body{
	padding: 3% 5% 5% 5%;
}

.card .card-footer{
	display: flex;
	justify-content: space-between;
	padding: 5%;
	color: var(--dark-color-one);
	font-size: 18px;
	border-top: 1px solid var(--dark-divider-color);
}

/* Sessão de slides */
.slides ul{
	display: flex;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	
	justify-content: center;
	align-items: center;
	padding: 22%;
	
}

.slides ul li{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.slides ul .active{
	width: 100%;
}

.slides ul .hidden{
	display: none;
}

.imagens .seletores ul{
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.imagens .seletores ul li{
	margin: 0 0.7%;
	color: var(--dark-color-one);
}

#ul-slides li .desktop {
	display: none;
}

#article-slides{
	background:linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%),
	url('/img/default-site/marca_2.svg') center center no-repeat;
	background-size: cover;
}




/* Sessão contato */
#contato{
	color: var(--white-color);
	background-color: var(--dark-color-one);
	border-radius: 0 70% / 40%;
	padding: 10% 14%;
	margin: 14% 0;
}

#contato form input{
	height: 34px;
	min-height: 34px;
	border-radius: 7px;
	padding: 3%;
}

#contato form input,
#contato form textarea{
	width: 100%;
	border-radius: 7px;
	padding: 3%;
	border: none;
}

#contato form textarea {
	margin-top: 14px;
	border: none;
}

#contato label {
	color: var(--dark-color-one);
}

#contato h2 {
	font-size: 28px;
}

#contato h4 {
	font-size: 22px;
}

#contato form input[type=submit] {
	margin-top: 14px;
	min-width: 107%;
	width: 107%;
	height: 7vh;
	font-size: 22px;
	color: var(--dark-color-one);
	border: none;
}

/* Footer */
#footer{
	background-color: var(--dark-color-one);
	color: var(--white-color);
	padding: 7%;
	text-align: center;
}

#footer .icon{
	font-size: 34px;
	padding: 0 5%;
}

#footer a{
	text-decoration: none;
	color: var(--white-color);
}

#footer address {
	margin-top: 3%;
}

img{
	max-width: 100%;
}

#video-projeto h2{
	font-size: 28px;
	color: var(--dark-color-one);
	margin-bottom: 0;
	padding-bottom: 0;
}
#video-projeto h3{
	font-size: 22px;
	color: var(--grey-color);
	margin-top: 0;
	padding-top: 0;
}

#video-projeto {
	width: 80%;
	margin: auto;
}

#video {
	padding-top: calc(100%/ (560 / 315));
	position: relative;
	height: 0;
}

#video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

abbr[title]{
	text-decoration:none;
	cursor: pointer;
}




@media only screen and (orientation: landscape) {
#nav {
	height: 22%;
}

#contato form input[type=submit]{
	height:14vh
}
}














@media only screen and (min-width: 900px) {
	
	#nav {
		border-radius: 0 0 85% 85% / 30%;
		height: 15%;
		flex-direction: row-reverse;
	}
	
	#hamburguer-menu {
		visibility: hidden;
	}
	
	#div-logo{
		max-width: 11%;
	}
	
	#logo{
		width: 85%;
	}
	
	#navbar-mobile{
		visibility: inherit;
	}
	
	#nav-ul{
		display: flex;
		max-width: 70vw;
		width: 70vw;
		background-color: transparent;
		flex-direction: row;
		align-items: center;
		height: 4%;
	}
	#nav-ul li{
		padding: 0 5%;
		margin: 0;
		border: 0;
		font-size: 1.5rem;
	}
	
	#nav-ul li:hover{
		cursor: pointer;
	}
	
	#close-mobile-menu{
		visibility: hidden;
	}
	
	#header-banner {
		min-height: 14%;
		max-height: 14%;
		height: 14%;
		padding: 18% 7% 7% 7%;
		text-align: center;
		overflow: hidden;
	}
	
	#header-banner h2 {
		font-size: 22px;
	}
	
	#header-banner cite{
		font-size: 28px;
	}
	
	#page-project #header-banner h2{
		font-size: 62px;
	}
	
	#about {
		padding-top: 6%;
	}
	
	.about-btn .btn button{
		min-width: 42%;
		width: 42%;
		font-size: 21px;
		font-weight: 700;
		letter-spacing: 2px;
		
	}
	
	#about .name{
		font-size: 30px;
	}
	
	#about .graduacao{
		font-size: 18px;
	}
	
	.cards{
		width: 100%;
		max-width: 100%;
		min-width: 100%;
	}
	
	#skills .row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	#skills .row .container-skill {
		min-width: 30vw;
	}
	
	#projetos .introduction .image-and-text {
		display: flex;
		flex-direction: row;
	}
	
	#projetos .introduction h2{
		margin: 10% 0 0 0;
	}
	
	.slides ul img{
		max-width: 14%;
		width: 14%;
	}
	
	.slides ul{
		padding: 0 10%;
	}
	
	#contato{
		padding: 10% 30%;
		background-image: url('/img/default-site/marca_bot.svg');
		background-position: 90%;
		background-repeat: no-repeat;
		background-size: 14%;
	}
	
	#avatar_about img {
		max-width: 140px;
		border: 7px solid var(--grey-color);
		cursor: pointer;
	}
	
	#avatar_about img:hover {
		border: 7px solid var(--dark-color-one);
		cursor: pointer;
	}
	#ul-slides li .desktop{
		display: block;
		width: 60%;
		max-width: 60%;
		margin: 5%;
		border: 7px solid var(--dark-color-one);
		border-radius: 14px;
	}
	.slides ul .active {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		
	}
	
	#page-project .tecnologias {
		width: 80vw;
		margin: 5% 0; 
		overflow: hidden;
	}
	
	#page-project .tecnologias .tecnologia-icon {
		display: block;
		font-size: 5rem;
	}
	
	#video-projeto h2 {
		font-size: 28px;
		color: var(--dark-color-one);
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
	#video-projeto h3 {
		font-size: 22px;
		color: var(--grey-color);
		margin-top: 0;
		padding-top: 0;
	}
	
	#video-projeto {
		width: 75%;
		margin: auto;
		margin-bottom: 5%;
	}
	
	#contato form input[type=submit] {
		height: 7vh
	}

	/* Sessão skills  */
	#skills {
		margin-top: 7%;
	}
	
}

